
.textBox {
  width:50%;
  align-self: center;
  height: 300px;
  border: solid black 2px;
  border-radius: 10px;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.colorForm {
  width: 50%;
  display:grid;
  grid-template-columns: 1fr 2fr 3fr;
  text-align: left;
  align-self: center;
}
.sampleSquare, .inputBox, .angleInput {
  margin: 5px;
  border-radius: 5px;
}
label.angleInput {
  grid-column: 1/2;
}
input.angleInput {
  grid-column: 2/4;
}
.header {
  text-align: center;
  text-decoration: underline;
}